.body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    padding: 8%;
}

h1 {
    font-weight: bold;
    font-size: 56px;
    text-align: center;
}

h2 {
    color: white; 
    font-weight: bold;
    font-size: 42px;
    padding-top: 10%;
}

h3 {
    font-weight: bold;
    font-size: 14px;
}

p {
    font-size: 18px;
    text-align: center;
    font-family: 'Montserrat';
    padding-bottom: 70px;
}

.navbar {
    background-color: #0A121E; 
    padding-left: 10%;
    padding-right: 10%;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='red' stroke-width='2' stroke-linecap='round' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nav-link {
    color: white; 
    font-weight: bold; 
}

.slick-arrow {
    top: 50%; 
    z-index: 1;
    background: none;
    width: 40px; 
    height: 40px; 
}

.slick-prev {
    background-image: url('/static/media/vector.png'); 
    left: 10px; 
    font-size: 0;
}

.slick-next {
    background-image: url('/static/media/vector_1.png');
    right: 10px; 
    font-size: 0;
}

.slick-prev::before,
.slick-next::before {
    display: none; 
}

.slick-slide img {
    border-radius: 40px;
}

.slick-center img{
    border: 1px solid white; 
}

.slider-nav{
    padding-top: 50px;
    padding-bottom: 50px;
}
